PORT=5000
NODE_ENV=development

# Database configuration
# Set DB_DIALECT to 'mysql' or 'sqlite'
DB_DIALECT=sqlite
DB_STORAGE=./database.sqlite

# MySQL Connection (if DB_DIALECT=mysql)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=cafe_belmirah

# JWT
JWT_SECRET=super_secret_key_change_in_production
